__pycache__/CleanFDOC.cpython-39.pyc
__pycache__/CreateCCMaster.cpython-39.pyc
__pycache__/CreateModelDF.cpython-39.pyc
__pycache__/TreeModels.cpython-39.pyc
data/Active_Offenses_CPS.csv
data/Active_Offenses_PRPR.csv
data/Active_Root.csv
data/circuit_county_crosswalk.csv
data/CjdtSAOCase_00000.csv
data/clean_house.csv
data/clean_pres.csv
data/clean_senate.csv
data/Release_Offenses_CPS.csv
data/Release_Offenses_PRPR.csv
data/Release_Root.csv
data/SA_Political_Leanings.csv
__pycache__/CleanSAO.cpython-39.pyc
data/drug_specific_actions_clean.csv
data/theft_specific_actions_clean.csv
data/drug_offenses_data_clean.csv
data/theft_offenses_data_clean.csv
data/circuit_county_year_master.csv
data/drug_actionmodeling_data.csv
data/drug_offensemodeling_data.csv
data/theft_actionmodeling_data.csv
data/theft_offensemodeling_data.csv
theft_specific_actions_clean.csv
CjdtSAOCase_00000.csv
drug_specific_actions_clean.csv
